/*去除默认样式 开始*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
ol,
p,
input,
select,
option,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  font-weight: normal;
}
ul,
li,
ol,
dl,
dt,
dd {
  list-style: none;
}
input,
button,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}
textarea {
  resize: none;
}
img {
  border: none;
  vertical-align: middle;
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}
em,
i,
u {
  font-style: normal;
}
b,
strong {
  font-weight: normal;
}
/*去除默认样式 结束*/
/*公共样式 开始*/
body {
  background-color: #FFFFFF;
  font-size: 14px;
  color: #333;
  font-family: "Microsoft YaHei";
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  width: 0;
  height: 0;
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}
/*公共样式 结束*/
